:root {
  --general-text: #312c27;
  --accent-text: #1f1711;

  --general-bg: #fff9f4;
  --accent-bg: #ffe0cb;

  --accent-color: #ffa55c;
  --inputy: #ac907a;
}

.body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-bg);
}

.body--opened-menu {
  /*для бургер-меню*/
  overflow: hidden; /* отсутствие вертикального скролла для бургер-меню*/
}
.body--opened-modal {
  /*для модалки*/
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%; /* чтобы был не меньше и не больше экрана */
  overflow: hidden; /* отсутствие вертикального скролла */

  /* настройки для прилипания шапки и подвала */
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1; /* настройки для прилипания шапки и подвала */
}

.container {
  max-width: 1310px; /* +15px из за padding*/
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  border-radius: 60px;
  padding: 18px 0px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;

  transition: all 0.4s;
}

.button:hover {
  background: #ff9138;
}

/* ---------------------Модальное окно--------------------- */
.modal {
  position: fixed;
  inset: 0;
  z-index: 11;
  background: #07070765;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;
}
.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
  background: var(--general-bg);
  border-radius: 20px;
  padding: 0 60px 60px;
  margin: 30px;
  max-width: 428px;
}
.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal__cancel path,
.modal__cancel rect {
  transition: all 0.4s;
}
.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: var(--inputy);
}
.modal__img {
  margin: -65px 0px 15px 12px;
}
.modal__title {
  font-family: "Gabriola";
  font-size: 42px;
  line-height: 0.9;
  color: var(--accent-text);
  margin-bottom: 10px;
}
.modal__text {
  margin-bottom: 30px;
}

.modal__form-label {
  margin-bottom: 10px;
}
.field {
  display: block;
  position: relative;
}
.field span {
  position: absolute;
  top: 12px;
  left: 28px;
  font-size: 11px;
  color: var(--inputy);

  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.field__input {
  display: block;
  width: 100%;
  font-size: 15px;
  background: transparent;
  border: 1px solid var(--inputy);
  border-radius: 100px;
  padding: 19px 28px;
  transition: all 0.4s;
}
.field__input:hover {
  border-color: var(--accent-color);
}

.field__input::placeholder {
  color: var(--inputy);
  transition: all 0.4s;
}
.field__input:hover::placeholder {
  color: var(--accent-color);
}
.field__input:focus {
  padding: 26px 19px 12px 28px;
}
.field__input:focus + span {
  opacity: 1;
  visibility: visible;
}

.modal__button {
  color: var(--general-bg);
}

/* ---------------------Шапка--------------------- */
.header {
  background: url("../images/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header__tpo-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header__logo {
  max-width: 174px;
  z-index: 11;
}
.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 4vh 40px; /*для бургер-меню*/
}
.nav__item {
  text-align: center;
}
.nav__link {
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  top: -15px;
  left: -15px;
  z-index: -1;
  border-radius: 50%;

  opacity: 0; /* у display: none; нет плавного перехода*/
  transition: all 0.4s;
}

.nav__link:hover:before {
  opacity: 1;
}

/* ---------------------бургер-меню--------------------- */
.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 100px;
  background: var(--general-text);
  transition: all 0.6s; /*для крестика*/
}
.burger-icon span {
  position: relative;
}
.burger-icon span::before,
.burger-icon span::after {
  content: "";
  position: absolute;
}
.burger-icon span::before {
  top: -8px;
  transition: all 0.6s; /*для крестика*/
}
.burger-icon span::after {
  bottom: -8px;
  transition: all 0.6s; /*для крестика*/
}
/*для крестика закрывающего меню*/
.body--opened-menu .burger-icon span {
  background: transparent;
}
.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}
/* ----------------------------------------------------- */

.hero {
  padding: 50px 0 140px;
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 137px;
}

.hero__content {
  max-width: 519px;
}

.hero__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: #b197b2;
  text-transform: uppercase;
  line-height: 26px;
}

.hero__info span {
  display: flex;
  align-items: center;
}
.hero__info span::after {
  content: "";
  background: #b197b2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  margin: 0 10px;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82; /*для адаптива (82%)*/
  margin-bottom: 30px;
}

.hero__text {
  max-width: 358px;
  margin-bottom: 40px;
}

.hero__button {
  max-width: 358px;
  width: 100%; /*для адаптива*/
}

.hero__img {
  position: relative;
}

.hero__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px; /*стилизация кружка кнопки*/
  bottom: 11%;
  left: calc(100% - 39px);
  text-align: left;
}

.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  flex-shrink: 0; /*стилизация кружка кнопки*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--accent-bg);
  box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
  position: relative;
}

.hero__img-button::before {
  /*стилизация внутреннего кружка кнопки*/
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);

  opacity: 0;
  transition: all 0.4s;
}

.hero__img-button:hover:before {
  opacity: 1;
}

/* ---------------------Основа--------------------- */

/* -------Секция о компании-------*/
.about {
  margin: 140px 0;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about__img {
  position: relative;
}

.about__img-gir {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 50%;
}

.about__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 299px;
  left: 5%;
  bottom: 4.5%;
  text-align: left;
  border-radius: 20px;
  padding: 15px 20px;
  background: rgba(149, 123, 151, 0.9);
  color: var(--general-bg);
}

.about__img-btn {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--general-bg);
}

.about__img-btn::before {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 1px solid #ceaad0;
  opacity: 0;
  transition: all 0.4s;
}

.about__img-btn:hover:before {
  opacity: 1;
}
.about__body {
  max-width: 624px;
}
.about__heading {
  margin-bottom: 30px;
}
.about__title {
  font-family: "Gabriola", "Arial", sans-serif;
  font-weight: 400;
  font-size: 74px;
  line-height: 82%;
}
.about__title-text {
}
.about__text {
  margin-bottom: 40px;
}
.about__advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.about__advantages-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 29px 24px;
  border-radius: 20px;
  max-width: 296px;
  background: var(--accent-bg);
}
.about__advantages-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--general-text);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.marker-img {
}
.about__advantages-text {
}

/* ---------------------Подвал--------------------- */

.footer {
  background: #ab8261;
  color: var(--general-bg);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 60px;
  gap: 50px;
}

.footer__logo-text {
  width: 274px;
}

.socials__list {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
  line-height: 0; /*убирает нижний отступ у иконок*/
}

.socials__link {
  transition: all 0.4s;
}

.socials__link:hover path {
  fill: var(--accent-color);
}

.footer__content-two {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}

.footer__nav-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer__nav-link {
  position: relative;
  z-index: 1;
}

.footer__nav-link::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  top: -15px;
  left: -15px;
  z-index: -1;
  border-radius: 50%;

  opacity: 0;
  transition: all 0.4s;
}

.footer__nav-link:hover:before {
  opacity: 1;
}

.footer__address-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer__address-img {
  margin-right: 8px;
}

.footer__tel-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__tel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__tel-link {
  font-weight: 500;
  font-size: 24px;
  transition: all 0.4s;
}

.footer__tel-link:hover {
  color: var(--accent-color);
}

.footer__copy {
  color: #dec5b1;
}

/* ----------------------------------media---------------------------------- */
@media (max-width: 1225px) {
  .hero__img {
    max-width: 377px;
  }
  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 30px;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
  }
  .footer__content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__content-two {
    justify-content: space-around;
    gap: 40px;
  }
  .footer__address-list {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1035px) {
  .about__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__advantages {
    text-align: left;
  }
}

@media (max-width: 900px) {
  /* --------------бургер-меню-------------- */
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    font-size: 20px;
    background: var(--general-bg);
    padding: 30vh 15px 30px;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  .burger-icon {
    display: flex;
  }

  .hero__inner {
    gap: 30px;
  }
  .hero__img > img {
    width: 100%;
  }
}

@media (max-width: 785px) {
  .hero__content {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .hero__text {
    margin-bottom: 0;
  }
  .hero__img {
    display: none;
  }
  .hero__img-control--mobile {
    display: flex;
    margin-bottom: 30px;
  }

  .about__advantages {
    flex-direction: column;
  }
  .about__advantages-item {
    max-width: 100%;
  }

  .footer__inner {
    gap: 0px;
  }
  .footer__content-two {
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 40px;
  }
  .footer__nav-list,
  .footer__tel-list {
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .modal__window {
    padding: 0 30px 30px;
  }
  .modal__img {
    max-width: 80%;
  }
  .modal__title {
    font-size: 8vw;
  }
  .field__input {
    padding: 10px 28px;
  }
  .modal__button {
    padding: 10px 0px;
    font-size: 3vw;
  }

  .hero__title {
    font-size: 12vw;
  }

  .hero {
    padding-bottom: 80px;
  }

  .about {
    margin: 70px 0;
  }

  .about__img-control {
    max-width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0px;
    padding: 10px 15px;
    font-size: 14px;
  }

  .about__title {
    font-size: 12vw;
  }
  .about__advantages-item {
    padding: 20px 20px;
  }
  .about__advantages {
    gap: 15px;
  }
}
