@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

/* ---------------------Модальное окно--------------------- */
.modal {
  position: fixed;
  inset: 0;
  z-index: 11;
  background: #07070765;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;
}
.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
  background: var(--general-bg);
  border-radius: 20px;
  padding: 0 60px 60px;
  margin: 30px;
  max-width: 428px;
}
.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal__cancel path,
.modal__cancel rect {
  transition: all 0.4s;
}
.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: var(--inputy);
}
.modal__img {
  margin: -65px 0px 15px 12px;
}
.modal__title {
  font-family: "Gabriola";
  font-size: 42px;
  line-height: 0.9;
  color: var(--accent-text);
  margin-bottom: 10px;
}
.modal__text {
  margin-bottom: 30px;
}

.modal__form-label {
  margin-bottom: 10px;
}
.field {
  display: block;
  position: relative;
}
.field span {
  position: absolute;
  top: 12px;
  left: 28px;
  font-size: 11px;
  color: var(--inputy);

  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.field__input {
  display: block;
  width: 100%;
  font-size: 15px;
  background: transparent;
  border: 1px solid var(--inputy);
  border-radius: 100px;
  padding: 19px 28px;
  transition: all 0.4s;
}
.field__input:hover {
  border-color: var(--accent-color);
}

.field__input::placeholder {
  color: var(--inputy);
  transition: all 0.4s;
}
.field__input:hover::placeholder {
  color: var(--accent-color);
}
.field__input:focus {
  padding: 26px 19px 12px 28px;
}
.field__input:focus + span {
  opacity: 1;
  visibility: visible;
}

.modal__button {
  color: var(--general-bg);
}

/* ---------------------бургер-меню--------------------- */
.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 100px;
  background: var(--general-text);
  transition: all 0.6s; /*для крестика*/
}
.burger-icon span {
  position: relative;
}
.burger-icon span::before,
.burger-icon span::after {
  content: "";
  position: absolute;
}
.burger-icon span::before {
  top: -8px;
  transition: all 0.6s; /*для крестика*/
}
.burger-icon span::after {
  bottom: -8px;
  transition: all 0.6s; /*для крестика*/
}
/*для крестика закрывающего меню*/
.body--opened-menu .burger-icon span {
  background: transparent;
}
.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

/* ---------------------Основа--------------------- */

/* -------Секция о компании-------*/
.about {
  padding: 140px 0;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about__img {
  position: relative;
}

.about__img-gir {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 50%;
}

.about__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 299px;
  left: 5%;
  bottom: 4.5%;
  text-align: left;
  border-radius: 20px;
  padding: 15px 20px;
  background: rgba(149, 123, 151, 0.9);
  color: var(--general-bg);
}

.about__img-btn {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--general-bg);
}

.about__img-btn::before {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 1px solid #ceaad0;
  opacity: 0;
  transition: all 0.4s;
}

.about__img-btn:hover:before {
  opacity: 1;
}
.about__body {
  max-width: 624px;
}
.about__heading {
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 40px;
}
.about__advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.about__advantages-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 29px 24px;
  border-radius: 20px;
  max-width: 296px;
  background: var(--accent-bg);
}
.about__advantages-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--general-text);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

/* -------Секция программа обучения-------*/
.program {
  padding-bottom: 140px;
}
.program__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 30px;
}

.tab-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px;
}

.tab-controls__link {
  display: block;
  background: var(--general-bg);
  border-radius: 100px;
  padding: 14px 30px;
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
  white-space: nowrap;

  transition: all 0.4s;
}
.tab-controls__link:hover {
  background: var(--accent-bg);
}
.tab-controls__link--active {
  background: var(--accent-bg);
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

.program__tab-content {
  margin-bottom: 40px;
}
.tab-content {
  display: none;
}
.tab-content--show {
  display: block;
}

/* ------- Аккордион -------*/
.accordion-list__item {
  margin-bottom: 30px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  background: var(--general-bg);
}
.accordion-list__item:last-child {
  margin-bottom: 0px;
}

.accordion-list__control {
  font-family: "Gabriola";
  font-size: 42px;
  line-height: 0.9;
  color: var(--accent-text);
  width: 100%;
  padding: 41px 30px;
  background: transparent;
  text-align: left;
  gap: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s;
}
.accordion-list__item--opened .accordion-list__control {
  /* изменение нижнего отступа при раскрытии описаний модулей */
  padding-bottom: 20px;
}

.accordion-list__control-icon svg {
  margin-left: 2px;
}
.accordion-list__control-icon path {
  transition: all 0.4s;
}

/* при наведении */
.accordion-list__control:hover .accordion-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}
.accordion-list__control:hover .accordion-list__control-icon path {
  fill: var(--general-bg);
}

/* при нажатии (активная вкладка) */
.accordion-list__item--opened .accordion-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}
.accordion-list__item--opened .accordion-list__control-icon path {
  fill: var(--general-bg);
}

.accordion-list__content {
  /* скрытие контента в базовом состоянии */
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.accordion-content {
  display: flex;
  padding: 0 30px 40px;
  gap: 80px;
}

.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}

.accordion-content__title {
  line-height: 1.6; /*160%*/
  color: #ceaad0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.accordion-content__item {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.accordion-content__item:last-child {
  margin-bottom: 0px;
}

.accordion-content__icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ceaad0;
  border-radius: 50%;
  flex-shrink: 0;
}

.accordion-content__text {
  max-width: 274px;
}
/* -------------------------*/

.program__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.program__offer {
  display: grid;
  grid-template: repeat(3, auto) / 1.65fr 1fr;
  max-width: 501px;
  gap: 40px;

  width: 100%;
  flex-shrink: 0;
}
.program__discount {
  grid-row: 1 / 3;
  font-size: 20px;
  border-radius: 20px;
  background: var(--accent-bg);
  padding: 40px;
}
.program__discount-value {
  font-family: "Gabriola";
  font-weight: 400;
  font-size: 74px;
  line-height: 0.82; /* 82% */
  color: var(--accent-color);
  margin: 0 0 7px 18%;

  transform-origin: 0 0;
  animation: identifier-grow 0.7s linear infinite alternate;
}

@keyframes identifier-grow {
  0% {
    transform: scale(1);
    color: var(--accent-color);
  }

  100% {
    transform: translateX(3%) scale(1.1);
    color: #ff9138;
  }
}

.program__discount span {
  font-size: 16px;
  margin-left: 48%;
}

.program__price-text {
  line-height: 1.6; /*160%*/
  text-transform: uppercase;
  color: #ceaad0;
  margin-bottom: 5px;
}
.program__price-value {
  font-family: "Gabriola";
  font-size: 32px;
  line-height: 0.9; /* 90% */
}
.program__price-value--big {
  font-size: 50px;
  color: var(--accent-text);
}

.program__button {
  grid-column: 1/-1;
}

.program__img img {
  object-fit: cover;
  object-position: -114px;
  width: 595px;
  height: 374px;
}

/* -------Секция фотогалерея-------*/
.main__gallery {
  padding-bottom: 140px;
}

.gallery__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 40px;
}
.gallery__img {
  justify-self: center;
  align-self: center;
}
.gallery__img img {
  max-width: 100%;
}
.gallery__content {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
}
.gallery__info {
  max-width: 380px;
}

.gallery__nav {
  font-family: "Gabriola";
  font-size: 42px;
  line-height: 0.9; /* 90% */
  display: flex;
  align-items: center;
  gap: 98px;
  position: relative;
}

/* -------оформление нерабочей кнопки-------*/
.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
  border: 1.5px solid #e1d9e1;
  cursor: auto;
}
.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
  fill: #e1d9e1;
}
.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
  background: transparent;
}
.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
  fill: #e1d9e1;
}
/* -----------------------------------------*/

.gallery__prev path,
.gallery__next path {
  transition: all 0.4s;
}
.gallery__prev:hover,
.gallery__next:hover {
  background: var(--accent-color);
}
.gallery__prev:hover path,
.gallery__next:hover path {
  fill: var(--general-bg);
}

.gallery__pagination {
  display: flex;
  position: absolute;
  left: 37%;
  bottom: auto;
  width: auto;
}

.gallery__slide {
  overflow: hidden;
  border-radius: 20px;
}
.gallery__slide img {
  width: 100%;
}

/* -------Секция отзывы-------*/
.main__testimonials {
  padding-bottom: 140px;
}

.testimonials__inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}

.testimonials__info {
  max-width: 632px;
}

.testimonials__nav {
  display: flex;
  gap: 30px;
}

.testimonials__prev path,
.testimonials__next path {
  transition: all 0.4s;
}
.testimonials__prev:hover,
.testimonials__next:hover {
  background: var(--accent-color);
}
.testimonials__prev:hover path,
.testimonials__next:hover path {
  fill: var(--general-bg);
}

/* -------оформление нерабочей кнопки-------*/
.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
  border: 1.5px solid #e1d9e1;
  cursor: auto;
}
.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
  fill: #e1d9e1;
}
.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
  background: transparent;
}
.swiper-button-disabled.testimonials__prev:hover path,
.swiper-button-disabled.testimonials__next:hover path {
  fill: #e1d9e1;
}
/* -----------------------------------------*/

.testimonials__slider {
  overflow: visible;
}

.testimonials__wrapper {
  margin-bottom: 40px;
}
.testimonials__slide {
  display: flex;
  gap: 30px;
  border-radius: 20px;
  background: var(--accent-bg);
  padding: 30px 30px 40px;
  height: auto;

  opacity: 0; /*плавность переходов*/
  transition: all 0.4s;
}
.swiper-slide-prev.testimonials__slide, /*скрывает вылезающий слайдер по бокам*/
.swiper-slide-next.testimonials__slide {
  opacity: 0.5;
}
.testimonials__slide.swiper-slide {
  /*плавность переходов*/
  transform: scale(0.9);
}
.swiper-slide-active.testimonials__slide {
  /*плавность переходов*/
  transform: scale(1);
  opacity: 1;
}

.testimonials__student {
  max-width: 165px;
  /* width: 100%; */
  text-align: center;
  flex-shrink: 0;
}

.testimonials__student-img {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.testimonials__student-img img {
  width: 100%;
}
.testimonials__student-name {
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 1.6;
  color: var(--accent-text);
}
.testimonials__student-inst {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #ceaad0;
}
.testimonials__quote span {
  display: block;
  font-family: "Gabriola";
  font-size: 32px;
  line-height: 0.9;
  color: var(--accent-text);
  margin-bottom: 10px;
}

.testimonials__scrollbar {
  background: var(--accent-bg);
}
.testimonials__scrollbar.swiper-scrollbar {
  position: static;
  width: 100%;
  height: 7px;
}
.testimonials__scrollbar .swiper-scrollbar-drag {
  background: var(--accent-color);
}

/* ----------------------------------media---------------------------------- */
@media (max-width: 1225px) {
  .hero__img {
    max-width: 377px;
  }
  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 30px;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
  }
  .footer__content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__content-two {
    justify-content: space-around;
    gap: 40px;
  }
  .footer__address-list {
    align-items: center;
    text-align: center;
  }

  .program__top {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1035px) {
  .about__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__advantages {
    text-align: left;
  }

  .title {
    text-align: center;
  }
  .program__top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .testimonials__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 900px) {
  /* --------------бургер-меню-------------- */
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    font-size: 20px;
    background: var(--general-bg);
    padding: 30vh 15px 30px;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  .burger-icon {
    display: flex;
  }

  .hero__inner {
    gap: 30px;
  }
  .hero__img > img {
    width: 100%;
  }

  .accordion-list__control {
    padding: 25px 20px;
    font-size: 30px;
  }
  .accordion-content {
    padding: 0 20px 25px;
    gap: 30px;
  }

  .gallery__content {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .testimonials__scrollbar.swiper-scrollbar {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 785px) {
  .hero__content {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .hero__text {
    margin-bottom: 0;
  }
  .hero__img {
    display: none;
  }
  .hero__img-control--mobile {
    display: flex;
    margin-bottom: 30px;
  }

  .about__advantages {
    flex-direction: column;
  }
  .about__advantages-item {
    max-width: 100%;
  }

  .footer__inner {
    gap: 0px;
  }
  .footer__content-two {
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 40px;
  }
  .footer__nav-list,
  .footer__tel-list {
    align-items: center;
    gap: 20px;
  }

  .accordion-content {
    flex-direction: column;
  }
  .accordion-content__text {
    max-width: none;
  }
  .program__offer {
    grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    max-width: none;
  }
  .program__img {
    display: none;
  }

  .gallery__inner {
    grid-template-columns: none;
  }
  .gallery__img {
    display: none;
  }
}

@media (max-width: 550px) {
  .modal__window {
    padding: 0 30px 30px;
  }
  .modal__img {
    max-width: 80%;
  }
  .modal__title {
    font-size: 8vw;
  }
  .field__input {
    padding: 10px 28px;
  }
  .modal__button {
    padding: 10px 0px;
    font-size: 3vw;
  }

  .hero__title {
    font-size: 12vw;
  }

  .hero {
    padding-bottom: 80px;
  }

  .about {
    padding: 70px 0;
  }
  .program,
  .main__gallery,
  .main__testimonials {
    padding-bottom: 70px;
  }

  .about__img-control {
    max-width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0px;
    padding: 10px 15px;
    font-size: 14px;
  }

  .about__title {
    font-size: 12vw;
  }
  .about__advantages-item {
    padding: 20px 20px;
  }
  .about__advantages {
    gap: 15px;
  }

  .title {
    font-size: 12vw;
  }

  .program__top {
    margin-bottom: 40px;
  }
  .tab-controls {
    gap: 20px;
  }
  .tab-controls__link {
    padding: 10px 20px;
  }
  .accordion-list__control {
    padding: 15px;
    font-size: 28px;
  }
  .accordion-content {
    padding: 0 15px 15px;
  }
  .accordion-list__control-icon {
    width: 26px;
    height: 26px;
  }
  .accordion-list__control-icon svg {
    width: 10px;
  }
  .accordion-content__item {
    margin-bottom: 10px;
  }
  .program__offer {
    grid-template: none;
  }
  .program__discount {
    justify-self: center;
  }
  .program__price {
    text-align: center;
  }

  .gallery__info {
    max-width: none;
  }

  .testimonials__inner {
    margin-bottom: 20px;
  }
  .swiper-slide-active.testimonials__slide {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 15px 20px;
    gap: 10px;
  }
}
