:root {
  --general-text: #312c27;
  --accent-text: #1f1711;

  --general-bg: #fff9f4;
  --accent-bg: #ffe0cb;

  --accent-color: #ffa55c;
}

.body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-bg);
}

.body--opened-menu {
  overflow: hidden; /* отсутствие вертикального скролла для бургер-меню*/
}

.wrapper {
  min-height: 100%;
  width: 100%; /* чтобы был не меньше и не больше экрана */
  overflow: hidden; /* отсутствие вертикального скролла */

  /* настройки для прилипания шапки и подвала */
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1; /* настройки для прилипания шапки и подвала */
}

.container {
  max-width: 1310px; /* +15px из за padding*/
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  border-radius: 60px;
  padding: 5px 10px;
  height: 62px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;

  transition: all 0.4s;
}

.button:hover {
  background: #ff9138;
}

/* ---------------------Шапка--------------------- */
.header {
  background: url("../images/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header__tpo-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header__logo {
  max-width: 174px;
  z-index: 11;
}
.header__logo img {
  width: 100%;
}
.nav {
}
.nav__list {
  display: flex;
  gap: 4vh 40px; /*для бургер-меню*/
}
.nav__item {
  text-align: center;
}
.nav__link {
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  top: -15px;
  left: -15px;
  z-index: -1;
  border-radius: 50%;

  opacity: 0; /* у display: none; нет плавного перехода*/
  transition: all 0.4s;
}

.nav__link:hover:before {
  opacity: 1;
}

/* ---------------------бургер-меню--------------------- */
.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 100px;
  background: var(--general-text);
  transition: all 0.6s; /*для крестика*/
}
.burger-icon span {
  position: relative;
}
.burger-icon span::before,
.burger-icon span::after {
  content: "";
  position: absolute;
}
.burger-icon span::before {
  top: -8px;
  transition: all 0.6s; /*для крестика*/
}
.burger-icon span::after {
  bottom: -8px;
  transition: all 0.6s; /*для крестика*/
}
/*для крестика закрывающего меню*/
.body--opened-menu .burger-icon span {
  background: transparent;
}
.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}
/* ----------------------------------------------------- */

.hero {
  padding: 50px 0 140px;
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 137px;
}

.hero__content {
  max-width: 519px;
}

.hero__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: #b197b2;
  text-transform: uppercase;
  line-height: 26px;
}

.hero__info span {
  display: flex;
  align-items: center;
}
.hero__info span::after {
  content: "";
  background: #b197b2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  margin: 0 10px;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82; /*для адаптива (82%)*/
  margin-bottom: 30px;
}

.hero__text {
  max-width: 358px;
  margin-bottom: 40px;
}

.hero__button {
  max-width: 358px;
  width: 100%; /*для адаптива*/
}

.hero__img {
  position: relative;
}

.hero__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px; /*стилизация кружка кнопки*/
  bottom: 11%;
  left: calc(100% - 39px);
  text-align: left;
}

.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  flex-shrink: 0; /*стилизация кружка кнопки*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--accent-bg);
  box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
  position: relative;
}

.hero__img-button::before {
  /*стилизация внутреннего кружка кнопки*/
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);

  opacity: 0;
  transition: all 0.4s;
}

.hero__img-button:hover:before {
  opacity: 1;
}

/* ----------------------------------media---------------------------------- */
@media (max-width: 1225px) {
  .hero__img {
    max-width: 377px;
  }
  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 30px;
  }
}

@media (max-width: 900px) {
  /* --------------бургер-меню-------------- */
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    font-size: 20px;
    background: var(--general-bg);
    padding: 30vh 15px 30px;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  .burger-icon {
    display: flex;
  }

  .hero__inner {
    gap: 30px;
  }
  .hero__img > img {
    width: 100%;
  }
}

@media (max-width: 785px) {
  .hero__content {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .hero__text {
    margin-bottom: 0;
  }
  .hero__img {
    display: none;
  }
  .hero__img-control--mobile {
    display: flex;
    margin-bottom: 30px;
  }

  @media (max-width: 550px) {
    .hero__title {
      font-size: 12vw;
    }

    .hero {
      padding-bottom: 80px;
    }
  }
}
