
/* ---------------------Шапка--------------------- */
.header {
  background: url("../images/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header__tpo-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header__logo {
  max-width: 174px;
  z-index: 11;
}
.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 4vh 40px; /*для бургер-меню*/
}
.nav__item {
  text-align: center;
}
.nav__link {
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  top: -15px;
  left: -15px;
  z-index: -1;
  border-radius: 50%;

  opacity: 0; /* у display: none; нет плавного перехода*/
  transition: all 0.4s;
}

.nav__link:hover:before {
  opacity: 1;
}

.hero {
  padding: 50px 0 140px;
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 137px;
}

.hero__content {
  max-width: 519px;
}

.hero__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: #b197b2;
  text-transform: uppercase;
  line-height: 26px;
}

.hero__info span {
  display: flex;
  align-items: center;
}
.hero__info span::after {
  content: "";
  background: #b197b2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  margin: 0 10px;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82; /*для адаптива (82%)*/
  margin-bottom: 30px;
}

.hero__text {
  max-width: 358px;
  margin-bottom: 40px;
}

.hero__button {
  max-width: 358px;
  width: 100%; /*для адаптива*/
}

.hero__img {
  position: relative;
}

.hero__img-control {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px; /*стилизация кружка кнопки*/
  bottom: 11%;
  left: calc(100% - 39px);
  text-align: left;
}

.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  flex-shrink: 0; /*стилизация кружка кнопки*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--accent-bg);
  box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
  position: relative;
}

.hero__img-button::before {
  /*стилизация внутреннего кружка кнопки*/
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);

  opacity: 0;
  transition: all 0.4s;
}

.hero__img-button:hover:before {
  opacity: 1;
}
